.heading1 {
  margin: 24px 0;
  font-size: 24px;
  font-family: "Montserrat Bold", sans-serif;
}

.heading2 {
  margin: 12px 0 8px;
  font-size: 20px;
}

.infoLabelText {
  all: unset;
  font-size: 14px;
}
