.gridContainer {
  margin: 0;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 12px 8px;
}

.tags,
.details {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.iconWrapper {
  display: inline-block;
  width: 14px;
  margin: 0 16px 0 0;
  color: var(--subtle-text-color);
}

.address {
  display: inline-flex;
  font-size: 12px;
  max-width: 240px;
}
